@charset "UTF-8";
a{
  text-decoration: none;
  @extend %transition_link;
  &:hover,&:focus,&:active{
    text-decoration: none;
  }
}
.bdb_gd{
  border-bottom: 1px solid #E9E9E9;
}
.text-middle{
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.overlay{
  z-index: 998;
  position: fixed;
  width: 100%;
  height: 100%;
  background: black(.2);
  .spinner{
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    @extend .text-middle;
  }
}
@-webkit-keyframes ball-triangle-path-1 {
  33% {
    -webkit-transform: translate(25px, -50px);
    transform: translate(25px, -50px); }

  66% {
    -webkit-transform: translate(50px, 0px);
    transform: translate(50px, 0px); }

  100% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px); } }

@keyframes ball-triangle-path-1 {
  33% {
    -webkit-transform: translate(25px, -50px);
    transform: translate(25px, -50px); }

  66% {
    -webkit-transform: translate(50px, 0px);
    transform: translate(50px, 0px); }

  100% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px); } }

@-webkit-keyframes ball-triangle-path-2 {
  33% {
    -webkit-transform: translate(25px, 50px);
    transform: translate(25px, 50px); }

  66% {
    -webkit-transform: translate(-25px, 50px);
    transform: translate(-25px, 50px); }

  100% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px); } }

@keyframes ball-triangle-path-2 {
  33% {
    -webkit-transform: translate(25px, 50px);
    transform: translate(25px, 50px); }

  66% {
    -webkit-transform: translate(-25px, 50px);
    transform: translate(-25px, 50px); }

  100% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px); } }

@-webkit-keyframes ball-triangle-path-3 {
  33% {
    -webkit-transform: translate(-50px, 0px);
    transform: translate(-50px, 0px); }

  66% {
    -webkit-transform: translate(-25px, -50px);
    transform: translate(-25px, -50px); }

  100% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px); } }

@keyframes ball-triangle-path-3 {
  33% {
    -webkit-transform: translate(-50px, 0px);
    transform: translate(-50px, 0px); }

  66% {
    -webkit-transform: translate(-25px, -50px);
    transform: translate(-25px, -50px); }

  100% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px); } }
.ball-triangle-path {
  position: relative;
  -webkit-transform: translate(-25px, -25px);
  -ms-transform: translate(-25px, -25px);
  transform: translate(-25px, -25px); }
.ball-triangle-path > div:nth-child(1) {
  -webkit-animation-name: ball-triangle-path-1;
  animation-name: ball-triangle-path-1;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }
.ball-triangle-path > div:nth-child(2) {
  -webkit-animation-name: ball-triangle-path-2;
  animation-name: ball-triangle-path-2;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }
.ball-triangle-path > div:nth-child(3) {
  -webkit-animation-name: ball-triangle-path-3;
  animation-name: ball-triangle-path-3;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }
.ball-triangle-path > div {
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  border: 1px solid #fff; }
.ball-triangle-path > div:nth-of-type(1) {
  top: 50px; }
.ball-triangle-path > div:nth-of-type(2) {
  left: 25px; }
.ball-triangle-path > div:nth-of-type(3) {
  top: 50px;
  left: 50px; }

@-webkit-keyframes ball-scale-ripple {
  0% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 1; }

  70% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0.7; }

  100% {
    opacity: 0.0; } }

@keyframes ball-scale-ripple {
  0% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 1; }

  70% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0.7; }

  100% {
    opacity: 0.0; } }

.ball-scale-ripple > div {
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  border: 2px solid #ffb821;
  -webkit-animation: ball-scale-ripple 1s 0s infinite cubic-bezier(.21, .53, .56, .8);
  animation: ball-scale-ripple 1s 0s infinite cubic-bezier(.21, .53, .56, .8); }

.progress-bar{
  position: absolute;
  top:0;
  left:0;
  height: 2px;
  background-color:rgb(243, 190, 0);
  z-index: 10
}

.loading-panel{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(177, 191, 157, 0.95);
  z-index: -1;
  transition: opacity  0.5s;
  opacity: 0;
}

.loading-panel-hide{
  opacity:0;
  z-index: -1;
}

.loading-panel-show{
  opacity:1;
  z-index: 999;
}
.form-control{
  display: block;
  position: relative;
  width: 100%;
  text-align: left;
  color: #35495e;
  padding: 7px 13px;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  background: #fff;
  font-size: 14px;
  resize: none;
  &[disabled],
  fieldset[disabled] & {
    @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
    @include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s);
    background-color: $m-light;
    opacity: 1; // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655
  }

  &[disabled],
  fieldset[disabled] & {
    cursor: not-allowed;
  }
}
.multiselect{
  &.c-g3{
    .multiselect__single{
      color: #333;
    }
    .multiselect__input{
      color: #333;
    }
  }
  &.onlyInput{
    .multiselect__select{
      display: none;
    }
  }
}

.hasError .multiselect__tags{
  border-color: $m-red
}
.inputError{
  border-color: $m-red !important;
}
.label_for_file{
  border: 1px solid #fdb32c;
  background: #fdb32c;
  border-radius: 4px;
  padding: 6px 12px;
  margin:0 3px;
  overflow: hidden;
  color: #fff;
  text-decoration: none;
  text-indent: 0;
  line-height: 20px;
  display: inline;
  &:hover{
    background: #fdb32c;
    border-color: #fdb32c;
    color: #fff;
    text-decoration: none;
  }
}
.input_file{
  position: relative;
  input{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
}
.pos-rel.files_buttons{
  height: 34px;
  .btn-files-wrap{
    position: absolute;
    left: 0;
    top: 0;
  }
  .btn-clean{
    position: absolute;
    left: 94px;
    top: 0;
  }
}
.btn-files{
  background: #fdb32c;
  border: 1px solid #fdb32c;
  border-radius: 4px;
  padding: 6px 12px;
  position: relative;
  text-indent:-99999em;
  width: 82px;
  height: 33px;
  overflow: hidden;
  display: inline-block;
  &:after{
    text-indent:0;
    position: absolute;
    content: "选择文件";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    line-height: 33px;
    text-align: center;
    color: #fff;
  }
}
//.input_file {
//  position: relative;
//  display: inline;
//  background: #fdb32c;
//  border: 1px solid #fdb32c;
//  border-radius: 4px;
//  padding: 6px 12px;
//  margin:0 3px;
//  overflow: hidden;
//  color: #fff;
//  text-decoration: none;
//  text-indent: 0;
//  line-height: 20px;
//  &:hover{
//    background: #fdb32c;
//    border-color: #fdb32c;
//    color: #fff;
//    text-decoration: none;
//  }
//  input{
//    position: absolute;
//    font-size: 100px;
//    right: 0;
//    top: 0;
//    opacity: 0;
//  }
//}
