{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "extends": "airbnb-base",
  "plugins": ["vue"],
  "rules": {
    "semi": [2, "never"],
    "arrow-body-style": ["error", "always"],
    "operator-assignment": [0, "never"],
    "no-console": 0,
    "import/no-dynamic-require": 0,
    "global-require": 0,
    "linebreak-style": 0,
    "no-undef": 0,
    "no-param-reassign": 0
  }
}