@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/normalize";
@import "bootstrap/grid";
@import "bootstrap/panels";
@import "bootstrap/labels";
@import "bootstrap/tables";

@import "../../../node_modules/bourbon/app/assets/stylesheets/bourbon";
@import "scss/inc/mixin";
@import "scss/inc/generics-px";
@import "scss/inc/basic";
@import "scss/animate";
@import "scss/global";
@import "scss/userInfo";
body{
  &.loading{
    background: url('http://img.hidoge.cn/v1.0/photo-1000x1000.jpg') center center no-repeat;
    background-size: cover;
  }
}
.fade-fast-enter-active, .fade-fast-leave-active {
  transition: opacity .25s
}
.fade-fast-enter, .fade-fast-leave-active {
  opacity: 0
}