@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/normalize";
@import "bootstrap/grid";
@import "bootstrap/panels";
@import "bootstrap/labels";
@import "bootstrap/tables";

@import "../../../node_modules/bourbon/app/assets/stylesheets/bourbon";
@import "scss/inc/mixin";
@import "scss/inc/generics-px";
@import "scss/inc/basic";
@import "scss/animate";
@import "scss/global";
@import "scss/userInfo";
body{
  &.loading{
    background: url('http://img.hidoge.cn/v1.0/photo-1000x1000.jpg') center center no-repeat;
    background-size: cover;
  }
}
.fade-fast-enter-active, .fade-fast-leave-active {
  transition: opacity .25s
}
.fade-fast-enter, .fade-fast-leave-active {
  opacity: 0
}
.mint-header-title{
  font-size: 16px !important;
}
.mint-header{
  a{
    color: #fff;
  }
}
.mint-cell{
  font-size: 14px !important;
}
.mint-spinner-snake{
  margin:0 auto;
}
.filter_bar{
  position: fixed;
  left: 0;
  top: 40px;
  width: 100%;
  z-index: 1;
}
.cases-filter{
  position: fixed;
  right: -250px;
  top: 0;
  width: 250px;
  height: 100%;
  background: #fff;
  z-index:998;
  overflow-y: scroll;
  .buttons_area{
    //right: -250px;
    //position: fixed;
    //width: 250px;
    //bottom: 0;
    //z-index: 1001;
    //@extend %transition_link;
  }
  &.active{
    right: 0;
    .buttons_area{
      //right: 0;
    }
  }
}
.mint-button--default{
  &.isChecked{
    background-color: $m-blue !important;
    color: #fff !important;
  }
}
.multiselect{
  .multiselect__single{
    color: #999;
  }
  &.input-selected{
    .multiselect__single{
      color: #333 !important;
    }
  }
}
.sidebar_menu{
  position: fixed;
  height: 100%;
  width: 250px;
  right: -250px;
  top: 0;
  background: #fff;
  z-index: 998;
  &.active{
    right: 0;
  }
}
.btn-add-area{
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 10px;
  z-index: 998;
  width: 100%;
}
.btn-circle{
  position: fixed;
  z-index: 9;
  right: 10px;
  bottom: 10px;
  background: $m-orange;
  color: #fff;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  @include border-bottom-radius(20px);
  @include border-top-radius(20px);
  @include box-shadow(0 1px 1px black(.2));
}
.btn-refresh{
  @include box-shadow(0 1px 1px black(.2));
  width: 90px;
  text-align: center;
  margin-left: -45px;
  position: fixed;
  z-index: 998;
  left: 50%;
  bottom: 20px;
}
.user_face{
  background: lighten(rgba(252, 246, 225, 1.0),.6) url(../images/mountains.png) 0 bottom repeat-x;
  background-size: 90% auto;
  border-bottom: 3px solid rgba(253, 176, 45, 1.0);
  padding-top: 50px;
  padding-bottom: 80px;
  position: relative;
  &:after{
    content: '';
    @include size(28px);
    background: url(../images/bike.png) 0 0 no-repeat;
    background-size: cover;
    position: absolute;
    right: 10px;
    bottom: 0;
  }
  .duration{
    position: absolute;
    right: 10px;
    bottom: 35px;
    color: $m-orange;
    background: white(.5);
    @include box-shadow(0 1px 1px black(.05));
    font-size: 12px;
    height: 18px;
    line-height: 18px;
    padding:0 10px;
    @include border-bottom-radius(9px);
    @include border-top-radius(9px);
  }
  .avatar{
    img{
      @include size(85px);
      @include border-bottom-radius(50%);
      @include border-top-radius(50%);
    }
  }
}
.breadcrumbs{
  height: 32px;
  width: 100%;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  .path{
    width: 100%;
    overflow: scroll;
    height: 32px;
    .text{
      white-space:nowrap;
      .item{
        display: inline-block;
        padding:5px 5px 7px 5px;
        margin:0 3px;
        color: #666;
        &.is_link{
          border-bottom: 2px solid $m-orange;
          padding:5px;
        }
      }
    }
  }
}
.opponent_panel{
  left: 0;
  top: 0;
  position: fixed;
  z-index: 999;
  &:before{
    content: '';
    background: black(.2);
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
}