@import "~font-awesome/scss/font-awesome";

@import "lib/mixin";
@import "lib/spacing";
@import "lib/color";
@import "lib/useful_class";
@import "lib/rounded";
@import "lib/extra_reset";
@import "lib/ie_warning";
.flex{
  display: flex;
}
.container{
  width: 90%;
  @extend %auto;
  @include clearfix();
}
.box_shadow{
  box-shadow: 0 1px 1px black(.08);
}
.page_header{
  .ivu-menu-horizontal{
    height: 80px;
    line-height: 80px;
    &.ivu-menu-light{
      &:after{
        background: none !important;
      }
    }
  }
}
.ivu-menu{
  a{
    color: #657180;
  }
  .ivu-menu-item-active a, .ivu-menu-item-selected a {
    color: #3399ff;
  }
}
