*, button, input, i, a {
  -webkit-font-smoothing: antialiased; }

*,
*:active,
*:hover {
  outline: none !important;
  -webkit-tap-highlight-color: transparent !important; }

small {
  font-size: 11px; }

h1 small, .h1 small, h2 small, .h2 small, h3 small, .h3 small, h4 small, .h4 small, h5 small, .h5 small, h6 small, .h6 small {
  font-size: 12px; }

html {
  overflow-x: hidden;
  -ms-overflow-style: none; }

html, body {
  min-height: 100vh;
  margin: 0; }

body {
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1000ms;
  -moz-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
  position: relative; }

a:hover, a:focus, a:active {
  text-decoration: none; }

.face-sans {
  font-family: sans-serif; }

.face-yahei {
  font-family: "microsoft yahei"; }

/*
 * Generate Spacing Class
 */
.m-0 {
  margin: 0px !important; }

.m-t-0 {
  margin-top: 0px !important; }

.m-b-0 {
  margin-bottom: 0px !important; }

.m-l-0 {
  margin-left: 0px !important; }

.m-r-0 {
  margin-right: 0px !important; }

.p-0 {
  padding: 0px !important; }

.p-t-0 {
  padding-top: 0px !important; }

.p-b-0 {
  padding-bottom: 0px !important; }

.p-l-0 {
  padding-left: 0px !important; }

.p-r-0 {
  padding-right: 0px !important; }

.m-5 {
  margin: 5px !important; }

.m-t-5 {
  margin-top: 5px !important; }

.m-b-5 {
  margin-bottom: 5px !important; }

.m-l-5 {
  margin-left: 5px !important; }

.m-r-5 {
  margin-right: 5px !important; }

.p-5 {
  padding: 5px !important; }

.p-t-5 {
  padding-top: 5px !important; }

.p-b-5 {
  padding-bottom: 5px !important; }

.p-l-5 {
  padding-left: 5px !important; }

.p-r-5 {
  padding-right: 5px !important; }

.m-10 {
  margin: 10px !important; }

.m-t-10 {
  margin-top: 10px !important; }

.m-b-10 {
  margin-bottom: 10px !important; }

.m-l-10 {
  margin-left: 10px !important; }

.m-r-10 {
  margin-right: 10px !important; }

.p-10 {
  padding: 10px !important; }

.p-t-10 {
  padding-top: 10px !important; }

.p-b-10 {
  padding-bottom: 10px !important; }

.p-l-10 {
  padding-left: 10px !important; }

.p-r-10 {
  padding-right: 10px !important; }

.m-15 {
  margin: 15px !important; }

.m-t-15 {
  margin-top: 15px !important; }

.m-b-15 {
  margin-bottom: 15px !important; }

.m-l-15 {
  margin-left: 15px !important; }

.m-r-15 {
  margin-right: 15px !important; }

.p-15 {
  padding: 15px !important; }

.p-t-15 {
  padding-top: 15px !important; }

.p-b-15 {
  padding-bottom: 15px !important; }

.p-l-15 {
  padding-left: 15px !important; }

.p-r-15 {
  padding-right: 15px !important; }

.m-20 {
  margin: 20px !important; }

.m-t-20 {
  margin-top: 20px !important; }

.m-b-20 {
  margin-bottom: 20px !important; }

.m-l-20 {
  margin-left: 20px !important; }

.m-r-20 {
  margin-right: 20px !important; }

.p-20 {
  padding: 20px !important; }

.p-t-20 {
  padding-top: 20px !important; }

.p-b-20 {
  padding-bottom: 20px !important; }

.p-l-20 {
  padding-left: 20px !important; }

.p-r-20 {
  padding-right: 20px !important; }

.m-25 {
  margin: 25px !important; }

.m-t-25 {
  margin-top: 25px !important; }

.m-b-25 {
  margin-bottom: 25px !important; }

.m-l-25 {
  margin-left: 25px !important; }

.m-r-25 {
  margin-right: 25px !important; }

.p-25 {
  padding: 25px !important; }

.p-t-25 {
  padding-top: 25px !important; }

.p-b-25 {
  padding-bottom: 25px !important; }

.p-l-25 {
  padding-left: 25px !important; }

.p-r-25 {
  padding-right: 25px !important; }

.m-30 {
  margin: 30px !important; }

.m-t-30 {
  margin-top: 30px !important; }

.m-b-30 {
  margin-bottom: 30px !important; }

.m-l-30 {
  margin-left: 30px !important; }

.m-r-30 {
  margin-right: 30px !important; }

.p-30 {
  padding: 30px !important; }

.p-t-30 {
  padding-top: 30px !important; }

.p-b-30 {
  padding-bottom: 30px !important; }

.p-l-30 {
  padding-left: 30px !important; }

.p-r-30 {
  padding-right: 30px !important; }

/*font size*/
.fz-12 {
  font-size: 12px !important; }

.fz-14 {
  font-size: 14px !important; }

.fz-16 {
  font-size: 16px !important; }

.fz-18 {
  font-size: 18px !important; }

.fz-20 {
  font-size: 20px !important; }

.fz-22 {
  font-size: 22px !important; }

.fz-24 {
  font-size: 24px !important; }

.fz-26 {
  font-size: 26px !important; }

.fz-28 {
  font-size: 28px !important; }

.fz-30 {
  font-size: 30px !important; }

.fz-32 {
  font-size: 32px !important; }

.fz-34 {
  font-size: 34px !important; }

/*height spacing*/
.h18 {
  height: 18px !important;
  line-height: 18px !important; }

.h20 {
  height: 20px !important;
  line-height: 20px !important; }

.h22 {
  height: 22px !important;
  line-height: 22px !important; }

.h24 {
  height: 24px !important;
  line-height: 24px !important; }

.h26 {
  height: 26px !important;
  line-height: 26px !important; }

.h28 {
  height: 28px !important;
  line-height: 28px !important; }

.h30 {
  height: 30px !important;
  line-height: 30px !important; }

.h32 {
  height: 32px !important;
  line-height: 32px !important; }

.h34 {
  height: 34px !important;
  line-height: 34px !important; }

.h36 {
  height: 36px !important;
  line-height: 36px !important; }

.h38 {
  height: 38px !important;
  line-height: 38px !important; }

/*text color*/
.c-white {
  color: #ffffff; }

.c-black {
  color: #000000; }

.c-blue {
  color: #2196F3; }

.c-red {
  color: #F44336; }

.c-purple {
  color: #9C27B0; }

.c-deeppurple {
  color: #673AB7; }

.c-lightblue {
  color: #03A9F4; }

.c-cyan {
  color: #00BCD4; }

.c-teal {
  color: #009688; }

.c-green {
  color: #4CAF50; }

.c-lightgreen {
  color: #8BC34A; }

.c-lime {
  color: #CDDC39; }

.c-yellow {
  color: #FFEB3B; }

.c-amber {
  color: #FFC107; }

.c-orange {
  color: #FF9800; }

.c-deeporange {
  color: #FF5722; }

.c-gray {
  color: #9E9E9E; }

.c-bluegray {
  color: #607D8B; }

.c-indigo {
  color: #3F51B5; }

.c-pink {
  color: #E91E63; }

.c-brown {
  color: #795548; }

.c-g3 {
  color: #333; }

.c-g6 {
  color: #666; }

.c-g9 {
  color: #999; }

.c-light {
  color: #f5f5f5; }

/*Background Colors*/
.bg-white {
  background-color: #ffffff; }

.bg-black {
  background-color: #000000; }

.bg-blue {
  background-color: #2196F3; }

.bg-red {
  background-color: #F44336; }

.bg-purple {
  background-color: #9C27B0; }

.bg-deeppurple {
  background-color: #673AB7; }

.bg-lightblue {
  background-color: #03A9F4; }

.bg-cyan {
  background-color: #00BCD4; }

.bg-teal {
  background-color: #009688; }

.bg-green {
  background-color: #4CAF50; }

.bg-lightgreen {
  background-color: #8BC34A; }

.bg-lime {
  background-color: #CDDC39; }

.bg-yellow {
  background-color: #FFEB3B; }

.bg-amber {
  background-color: #FFC107; }

.bg-orange {
  background-color: #FF9800; }

.bg-deeporange {
  background-color: #FF5722; }

.bg-gray {
  background-color: #9E9E9E; }

.bg-bluegray {
  background-color: #607D8B; }

.bg-indigo {
  background-color: #3F51B5; }

.bg-pink {
  background-color: #E91E63; }

.bg-brown {
  background-color: #795548; }

.bg-g3 {
  background-color: #333; }

.bg-g6 {
  background-color: #666; }

.bg-g9 {
  background-color: #999; }

.bg-light {
  background-color: #f5f5f5; }

/*Border Colors*/
.bd-white {
  border: 1px solid #ffffff !important; }

.bd-black {
  border: 1px solid #000000 !important; }

.bd-blue {
  border: 1px solid #2196F3 !important; }

.bd-red {
  border: 1px solid #F44336 !important; }

.bd-purple {
  border: 1px solid #9C27B0 !important; }

.bd-deeppurple {
  border: 1px solid #673AB7 !important; }

.bd-lightblue {
  border: 1px solid #03A9F4 !important; }

.bd-cyan {
  border: 1px solid #00BCD4 !important; }

.bd-teal {
  border: 1px solid #009688 !important; }

.bd-green {
  border: 1px solid #4CAF50 !important; }

.bd-lightgreen {
  border: 1px solid #8BC34A !important; }

.bd-lime {
  border: 1px solid #CDDC39 !important; }

.bd-yellow {
  border: 1px solid #FFEB3B !important; }

.bd-amber {
  border: 1px solid #FFC107 !important; }

.bd-orange {
  border: 1px solid #FF9800 !important; }

.bd-deeporange {
  border: 1px solid #FF5722 !important; }

.bd-gray {
  border: 1px solid #9E9E9E !important; }

.bd-bluegray {
  border: 1px solid #607D8B !important; }

.bd-indigo {
  border: 1px solid #3F51B5 !important; }

.bd-pink {
  border: 1px solid #E91E63 !important; }

.bd-brown {
  border: 1px solid #795548 !important; }

.bd-g3 {
  border: 1px solid #333 !important; }

.bd-g6 {
  border: 1px solid #666 !important; }

.bd-g9 {
  border: 1px solid #999 !important; }

.bd-light {
  border: 1px solid #f5f5f5 !important; }

.b-0 {
  border: 0 !important; }

/*Rounded and Circle Classes
------------------------------------*/
.no-rounded {
  border-radius: 0 !important; }

.rounded {
  border-radius: 4px !important; }

.rounded-x {
  border-radius: 50% !important; }

.rounded-2x {
  border-radius: 10px !important; }

.rounded-3x {
  border-radius: 15px !important; }

.rounded-4x {
  border-radius: 20px !important; }

.rounded-sm {
  border-radius: 2px !important; }

.rounded-md {
  border-radius: 3px !important; }

.rounded-top {
  border-radius: 4px 4px 0 0 !important; }

.rounded-left {
  border-radius: 4px 0 0 4px !important; }

.rounded-right {
  border-radius: 0 4px 4px 0 !important; }

.rounded-bottom {
  border-radius: 0 0 4px 4px !important; }

/*Others
------------------------------------*/
.overflow-hidden {
  overflow: hidden; }

.clear-both {
  clear: both; }

.text-justify p {
  text-align: justify; }

.tab-focus {
  outline: none !important; }

/*Full Width*/
.w-100, .full-width {
  width: 100%; }

/*CSS3 Hover Effects*/
a {
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  transition: all 0.7s; }

.hover-effect {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

.hover-effect-kenburn {
  left: 10px;
  margin-left: -10px;
  position: relative;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  transition: all 0.8s; }

.hover-effect-kenburn:hover {
  -webkit-transform: scale(2) rotate(5deg);
  -moz-transform: scale(2) rotate(5deg);
  -ms-transform: scale(2) rotate(5deg);
  -o-transform: scale(2) rotate(5deg);
  transform: scale(2) rotate(5deg); }

.hr {
  display: block;
  height: 0;
  overflow: hidden;
  font-size: 0;
  border-width: 1px 0 0 0;
  border-top: 1px solid #E3E3E3;
  margin: 12px 0;
  border-top-color: rgba(0, 0, 0, 0.11); }

.hr-double {
  height: 3px;
  border-top: 1px solid #E3E3E3;
  border-bottom: 1px solid #E3E3E3; }

.hr.dotted,
.hr-dotted {
  border-style: dotted; }

.align-middle {
  vertical-align: middle !important; }

.align-top {
  vertical-align: top !important; }

.align-bottom {
  vertical-align: bottom !important; }

.position-relative,
.pos-rel {
  position: relative; }

.position-absolute,
.pos-abs {
  position: absolute; }

.fix {
  *zoom: 1; }

.fix:after {
  display: block;
  content: "clear";
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden; }

.clear {
  clear: both;
  font-size: 0;
  line-height: 0;
  height: 0;
  min-height: 0;
  margin: 0;
  padding: 0; }

.l {
  float: left; }

.r {
  float: right; }

.auto {
  margin-left: auto;
  margin-right: auto; }

.dn {
  display: none; }

.db {
  display: block; }

.dib {
  display: inline-block; }

.di {
  display: inline; }

.n {
  font-weight: normal;
  font-style: normal; }

.b {
  font-weight: bold; }

.i {
  font-style: italic; }

.tl {
  text-align: left; }

.tc {
  text-align: center; }

.tr {
  text-align: right; }

.ti2 {
  text-indent: 2em; }

.swiper-slide-active .swiper-lazy-preloader {
  display: none; }

.ell {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal; }

.bdb_gd {
  border-bottom: 0.0625rem solid #E9E9E9; }

.text-middle, .overlay .spiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }

.overlay {
  z-index: 998;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  display: none; }
  .overlay .spiner {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%; }

.ie-warning {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background: #000000;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  font-family: "Courier New", Courier, monospace;
  padding: 50px 0; }
  .ie-warning p {
    font-size: 17px; }
  .ie-warning .iew-container {
    min-width: 1024px;
    width: 100%;
    height: 200px;
    background: #fff;
    margin: 50px 0; }
  .ie-warning .iew-download {
    list-style: none;
    padding: 30px 0;
    margin: 0 auto;
    width: 720px; }
    .ie-warning .iew-download > li {
      float: left;
      vertical-align: top; }
      .ie-warning .iew-download > li > a {
        display: block;
        color: #000;
        width: 140px;
        font-size: 15px;
        padding: 15px 0; }
        .ie-warning .iew-download > li > a > div {
          margin-top: 10px; }
        .ie-warning .iew-download > li > a:hover {
          background-color: #eee; }

/*# sourceMappingURL=screen.css.map */
